# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
!/node_modules/@coreui
# package-lock.json

# testing
/coverage

# production
/dist

# misc
.DS_Store
#.env

/.vs
/.vscode
